pdfplumber
langchain
dotenv

langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-ollama


sentence_transformers

fastapi
